@{
    ViewData["Title"] = "Abouts Us";
}
<h1>About Us</h1>
    <link rel="stylesheet" href="~/css/TeamsStyle.css" />
    
<ul class="list-team-members">
  <li>
     <a href="#">
      
       <span class="member-title">Pooja Veeresh Angadi</span>
       <span class="member-title-hover">Team Member</span>
    </a>
  </li>
  <li>
     <a href="#">
       <span class="member-title">Arnav Tiwari</span>
       <span class="member-title-hover">Team Member</span>
    </a>
  </li>
  
  <li>
     <a href="#">
       <span class="member-title">Debrup Saha</span>
       <span class="member-title-hover">Team Member</span>
    </a>
  </li>
 
</ul>
