@{
    ViewData["Title"] = "Abouts Us";
}

<h1>About Us</h1>


<br />

<h5  style="color: wheat;">
   This website is designed to get Electricity consumption data from data.gov. 
   API used for this project is REST API. 
   The API writes the electricity units consumed into our data base. 
   The User can View, Add, Delete or Modify Electricity consumption data, based on the countries.
    </h5>

    </br>
    
   

    <div>
        <h5 style="color: White;">ERD of the project:  </h5>
        
        <img width="65%" src="/images/ElectricityWebApp ERD.png"/>
    </div>
    </br>

 
    


    <link rel="stylesheet" href="~/css/TeamsStyle.css" />
    
    
<ul class="list-team-members">

    <li>
        <a href="https://github.com/PoojaVeeresh/DISElectricityWebApp">
        <span class="member-title-hover">GitHub Repository Link: https://github.com/PoojaVeeresh/DISElectricityWebApp</span>
         </a>
          </br>
          </br>
          </br>


  <li>
     <a href="#">
      <img src="~/images/PVA_image.jpg"/>
       <span class="member-title">Pooja Veeresh Angadi</span>
       <span class="member-title-hover">Team Member</span>
       
       <p style="color: wheat;">
          Been in the Software Automation Industry for 4 years, Now pursuing Master's in University Of South Florida.</br>
          Contributed in the implementation of CRUD operations, Designing Database,  API calls and cloud deployment.<br/>
          Technical Skills : JavaScript, C# .Net, MySql, UiPath, BluePrism.
      </p>
    </a>
    </br>

  </li>
  <li>
     <a href="#">
       <img src="~/images/arnav.jpeg"/>
       <span class="member-title">Arnav Tiwari</span>
       <span class="member-title-hover">Team Member</span>
       <p style="color: wheat;">
          Arnav is a graduate student pursuing the Business Analytics and Information Systems course at USF's Muma School of Business. 
          His interests include understanding and building businesses, learning about new cultures and analyzing soccer games. 
          He has contributed to deciding the topic and building the data model, as well as the look and responsiveness of the website.
      </p>
    </a>
    </br>
  </li>
  
  <li>
     <a href="#">
       <img src="~/images/DebrupSaha.jpg"/>
       <span class="member-title">Debrup Saha</span>
       <span class="member-title-hover">Team Member</span>
       <p style="color: wheat;">
          Debrup is a master's student pursuing Business Analytics and Information Systems. 
          He is a technology enthusiast and loves to fidget with gadgets and build things from scratch.
          He has contributed to the data.gov API integration and user interface.
      </p>
    </a>
    </br>
  </li>
  <li>
     
 
</ul>
