@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-5">Welcome to the Board of Electricity</h3>
   
    <image src="images/home.jpeg"></image>

    <p>ISM25995 Distributed Information System</p>
</div>
